
div {
    /* border: solid black 1px; */
}
body {
    display: flex;
    justify-content: center;
}
.main-wrapper {
    width: 317px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 4px;
    
    border: solid black 1px;
    background-color: whitesmoke;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}
.buttons-wrapper, .upper-row, .lcd, .lcd-second-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 4px;  
}
.upper-row {
    width: 308px;
}
.upper-row button {
    width: 70px;
    height: 36px;
    font-size: 24px;
}
.buttons-wrapper button {
    margin-bottom: 5px; 
}
.operators {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: right;
    
}
button {
    width: 72px;
    height: 72px;
    font-size: 48px;
    background-color: lightgray;   
    border-radius: 5px;
}
.clear {
    background-color: red;
    color: whitesmoke;
    font-weight: bolder;
}
.backspace {
    background-color: rgb(17, 1, 1);
    color: whitesmoke;
    font-weight: bolder;
    
}
.lcd {
    height: 60px;
    width: 299px;
    margin-left: 5px;
    font-size: 48px;
    justify-content: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: whitesmoke;
}
.lcd-second-row {
    height: 30px;
    width: 299px;
    margin-left: 5px;
    font-size: 22px;
    justify-content: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: gray;
}